---
---
<div>
    <main id="container">
        <h2>Proyectos</h2>
        <p>Hola estos son mis proyectos para este año 2026</p>
        <ul>
            <li>
                <a href="https://krafterhs.github.io/Proyecto-1/" target="_blank">Proyecto 1: Calculadora de IMC</a>
            </li>
        </ul>
</div>